.lorebook-tool-settings .flex-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}
.lorebook-tool-settings label {
    flex-grow: 1;
}
.lorebook-tool-settings textarea.text_pole {
    resize: vertical;
}